{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{# BOOK #}
{% for book in books %}


<div class="card col-3">
  <h3 class="card-header">{{ book.title }}</h3>
  <div class="card-body">
    <h5 class="card-title">{{ book.author }}</h5>
    <h6 class="card-subtitle text-muted">{{ book.editor }}</h6>
  </div>
  <img style="height: 200px; width: 100%; display: block;" src="{{ book.image }}" alt="Card image">
  <div class="card-body">
    <p class="card-text">{{ book.abstract }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="mr-auto">Bootstrap</strong>
          <small>11 mins ago</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="mr-auto">Bootstrap</strong>
          <small>11 mins ago</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
      </div>
    </li>
  </ul>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
{% endfor %}

{% endblock %}
