{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{% for editor in editors %}

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">{{ editor.name }}</div>
  <div class="card-body">
    <h4 class="card-title">{{ editor.name }}</h4>
    <p class="card-text">{{ editor.description }}</p>
  </div>
</div>
{% endfor %}

{% endblock %}
